/* styles.css */
body {
  font-family: Arial, sans-serif;
}

.margin-bottom-big {
  margin-bottom: 70px;
}
.margin-top-big {
  margin-top: 70px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

section.news {
  height: 385px;
}

.header {
  background-color: #63666b;
  color: #fff;
  padding: 20px;
  text-align: left;
  width: 1440px;
  margin-top: 100px;
}

.news-slider {
  display: flex;
  align-items: center;
}

.slider-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.news-card {
  background-color: #fff;
  margin: 0 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  flex: 1;
  max-width: calc(33.333% - 30px);
  text-align: center;
}

.news-card img {
  max-width: 100%;
  height: auto;
}

.knowledge-section {
  background-color: #e9e9e9;
  padding: 20px;
}

.knowledge-cards {
  display: flex;
  justify-content: space-between;
}

.knowledge-card {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: calc(33.333% - 20px);
  text-align: center;
}

.icon {
  font-size: 3rem;
}
.news-content {
  padding: 21px;
}
.news-title {
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1px;
  color: #1c3f94;
}
.news-title:hover {
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.5);
  transition: 0.3s;
}

button.slider-btn {
  position: relative;
  top: -120px;
  background-color: #1c3f94;
}

/* Responsive styles */
@media (max-width: 768px) {
  .knowledge-cards,
  .news-slider {
    flex-direction: column;
  }

  .news-card,
  .knowledge-card {
    max-width: 100%;
    margin: 10px 0;
  }
}

.knowledge-section-title {
  padding: 160px;
}

.knowledge-section-title h3 {
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 1.5px;
  color: #1c3f94;
}

i {
  border: 1px solid blue;
  border-radius: 50%;
  padding: 31px;
  font-size: 38px;
}

.margin-15 {
  margin-bottom: 15px;
}
